@import "~@angular-mdc/theme/material";

$ag-icons-path: "../../node_modules/ag-grid-community/src/styles/ag-theme-material/icons/";
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss';

/* Estils per a les capçaleres de context */
.context-app-bar {
    @include mdc-top-app-bar-ink-color(white);
    @include mdc-top-app-bar-fill-color(grey);
    /*@include mdc-top-app-bar-fill-color-accessible(pink);*/
}
.text-field-search {
    /*@include mdc-text-field-fill-color(white);*/
}

/* Estils per a la llista infinita de lloguers */
infinite-list mdc-list.rounded-icons {
    @include mdc-list-item-graphic-fill-color(grey);
    @include mdc-list-item-graphic-ink-color(white);
    @include mdc-list-item-meta-ink-color(lightgrey);
}
infinite-list .mdc-list-item__graphic {
    display: inline-flex;
}

/* Estils pels formularis */
mdc-text-field, mdc-form-field, mdc-select {
    width: 100%;
}
mdc-select.mdc-select--dense {
    height: 48px;
}
mdc-select.mdc-select--dense .mdc-select__dropdown-icon {
	bottom: 12px;
}
.mdc-select.mdc-select--outlined .mdc-floating-label {
	font-size: .813rem;
	top: 14px;
}
.mdc-select.mdc-select--outlined .mdc-floating-label.mdc-floating-label--float-above {
	font-size: 1rem;
	top: 17px;
}
mdc-select.mdc-select--dense + .mdc-select-helper-text {
    margin-bottom: 4px;
}

/* Estils pel component datagrid */
.ag-theme-material .ag-details-row {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.04);
}
.ag-theme-material .ag-details-row>div {
	border: 1px solid #e0e0e0;
}
.ag-theme-material .ag-row {
    cursor: pointer;
}
.ag-theme-material .ag-header-row .mdc-floating-label {
    top: 0;
}

body {
	margin: 0;
}