<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
	<title>Llocon</title>
	<meta name="description" content="Descripció de l'aplicació"/>
	<script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>
	<link rel="import" href="src/llocon-app.html"/>
<style>
body {
	margin: 0;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #eee;
}
</style>
</head>
<body>
	<llocon-app></llocon-app>
	<noscript>Please, enable JavaScript to view this website.</noscript>
</body>
</html>
